---
http_interactions:
- request:
    method: get
    uri: https://firmapi.com/api/v1/company?api_key=secret_api_key&siren=480470152
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ef8fa7287179f2c5bbd81ec627358a0b"'
    body:
      encoding: UTF-8
      string: '{"input":{"siren":"480470152"},"result":{"siren":"480470152","name":"Norauto
        France","nic":"00012","commercial_name":null,"official_name":"NORAUTO FRANCE","naf_code":"4532Z","legal_form":"SAS","address":"511
        589 R Des Seringats","postal_code":"59262","city":"Sainghin En Melantois","vat_number":"FR71480470152","number_of_establishments":230,"registration_date":"2005-01-20","cessation_date":null,"website":"http://centres.norauto.fr/110-norauto-leers?utm_source=google\u0026utm_medium=places\u0026utm_campaign=Norauto_20121219JC","financial_activity":[{"publication_year":2012,"turnover":null,"income":null,"workforce_count":null,"publication_date":"2012-09-29"},{"publication_year":2011,"turnover":null,"income":null,"workforce_count":null,"publication_date":"2011-09-29"},{"publication_year":2010,"turnover":null,"income":null,"workforce_count":null,"publication_date":"2010-09-29"},{"publication_year":2009,"turnover":null,"income":null,"workforce_count":null,"publication_date":"2009-09-29"}]}}'
  recorded_at: Fri, 06 Jun 2014 12:43:33 GMT
recorded_with: VCR 2.9.2
