---
http_interactions:
- request:
    method: get
    uri: https://firmapi.com/api/v1/company?api_key=123456&siren=INVALID%20SIREN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"input":{"siren":"INVALID SIREN"},"result":{"response":"fail","error":"Company
        not found","description":"No company where found by this siren."}}'
  recorded_at: Fri, 06 Jun 2014 12:58:53 GMT
recorded_with: VCR 2.9.2
